server {
    listen       80;
    listen  [::]:80;
    server_name  vue.torrent;

    location / {
        root /vuetorrent/public/;
    }

    location /api {
        proxy_pass ${QB_HOST}:${QB_PORT};
        http2_push_preload on;
        client_max_body_size 20M;
    }
}

